<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h4><%= link_to "Products", admin_products_url %>: <%= @products.inspect %></h4>
<h4>Categories: <%= @categories.inspect %></h4>